
#bg-color-nav
   {
	 background-color:#5c2a61;
	
	}
#nav-color
{
	 color:#5D2A68;
}
#amber-user-icon
{
 font-family:'Material Symbols Outlined';
      font-size: 36px;         
      color: #D4AF37;           
      text-decoration: none;    
      display: flex;
      align-items: center;
      cursor: pointer;
}
#textc1
{
	color:#4A1E56;
}
#font-style
	{	
	font-family:Akronim;
	color:#FFD700;
	font-size:26px;
	}
#font-family
	{
	font-family:Akronim;
	}
#border-style
	{
	border-style:solid;
	border:1px;
	border-color:#FFD700;
	}
#bg-color1
{
  background-color:#17140b;
  color:#ffdab9;
}
#b-style
	{
	border-style:solid;
	border:10px;
	border-color:#FFD700;
	}
	
#bg-color-1
{
    background-color:#B048B5;
	 border-color:#FFD700;	
}
#font-style-navs
{
font-family:Akronim;

}	
#button-bg
{
	background-color:#e2c7a9;
}
#b-color-values
{
	border:1px;
	border:solid;
	border-color:#e2c7a9;
}
#button-color
{
	background-color:#5c2a61;
}
#bg-color
{
	background-color:#fbf8f3;
}
#text-color-hair
{
	color:#5c2a61;
}